/* ABSTRACTS (variables mixins)*/
@use "../scss/abstracts/variables";
@use "../scss/abstracts/mixins";

/*   BASE resets tipografias estilos globales */
@use "../scss/base/reset";
@use "../scss/base/base";
@use "../scss/base/typography";

/*  LAYOUT  estructura general del sitio*/
@use "../scss/layout/header";
@use "../scss/layout/heroe";
@use "../scss/layout/course";
@use "../scss/layout/why";
@use "../scss/layout/footer";
@use "../scss/layout/news";

/*    COMPONENTS botones tarjetas etc*/
@use "../scss/components/buttons";
@use "../scss/components/art-card";
@use "../scss/components/forms";
@use "../scss/components/tags";

/*    PAGES   estilos especificos para cada pagina*/
@use "../scss/pages/home";
@use "../scss/pages/who";
@use "../scss/pages/contact";
@use "../scss/pages/courses_page";
@use "../scss/pages/blog";
@use "../scss/pages/register";

/*   THEMES    */
@use "../scss/themes/dark";
@use "../scss/themes/light";

/*  VENDORS    codigo de terceros*/
@use "../scss/vendors/normalize";
@use "../scss/vendors/bootstrap-overrides";
