@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;
@use "../base/typography" as typ;

.news--container-latest{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-inline: 32px;
    align-items: center;
    margin-bottom: 32px;
    &::before{
        content: "";        
        position: absolute;
        right: -20%;
        top: 20%;
        width: 100%;
        height: 80%;
        background-image: url("../../img/mobile/heroe_texture_mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }
    h2{
        color: var.$color-primary;
        span{
            color: var.$yellow;
        }
    }
    .news--cards-container{
        display: flex;
        flex-direction: column;
        gap: 32px;
        .card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @include mx.yellow--glow;
            @include mx.muted--stroke;
            border-radius: 25px;
            padding: 16px;
            gap: 8px;
            .tag{
                background-color: var.$text-muted;
                padding: 8px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                flex: 0 0 auto;
                h3{
                    font-size: 1.6rem;
                }
            }
            p{
                color: var.$color-primary;
                font-size: 12px;
                flex: 1;
                span{
                    color: var.$yellow;
                }
            }            
        }
        
    }
    .btn{
            @include mx.btn-primary;
        }

        /* Tablet */
  @include mx.tablet {
       .news--cards-container{
        display: flex;
        flex-direction: column;
        gap: 32px;
        .card{            
            p{                
                font-size: 16px;
                
            }            
        }                
    }
}
  
  /* Desktop */
  @include mx.desktop {    
    
  }
}