@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;
@use "../base/typography" as typ;

.courses--container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-block: 32px;
    h2{
        color: var.$color-primary;
        span{
            color: var.$yellow;
        }
    }
    .card--container{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-inline: 16px;
        .card{
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 16px;
            @include mx.yellow--stroke;
            @include mx.yellow--glow;
            border-radius: 50px;
            padding-inline: 8px;
            padding-bottom: 16px;
            .generic--container{
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 16px;
                h3{
                    color: var.$color-primary;
                    text-align: left;
                    span{
                        color: var.$yellow;
                    } 
                }
                p{
                color: var.$color-primary;
                font-size: 12px; 
                }
                a{
                    @include mx.btn-primary;
                    align-self: center;
                }
            }
        }
    }





                    /* Tablet */
    @include mx.tablet {        
        .card--container{
            .card{
                display: flex;
                flex-direction: row;
                align-items: stretch;                
                padding-bottom: 0;
                img{
                    object-fit: cover;
                    width: 50%;
                    height: auto;
                    flex: 0 0 40%;
                }
                .generic--container{
                    justify-content: center;
                    flex: 1;
                    h3{
                        font-size: 24px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }        
    }
    
    /* Desktop */
    @include mx.desktop {    
        .card--container{
            .card{               
                .generic--container{                    
                    h3{
                        font-size: 36px;
                    }
                    p{
                        font-size: 24px;
                    }
                }
            }
        }
    }
}