@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;
@use "../base/typography" as typ;


.register--container{
    padding: 16px;
    margin-bottom: 32px;
    .register--form{
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        justify-content: center;
        @include mx.yellow--stroke;
        @include mx.yellow--glow;
        border-radius: 50px;
        &::before{
            content: "";        
        position: absolute;
        right: -1%;
        top: 10%;
        width: 110%;
        height: 90%;
        background-image: url("../../img/mobile/heroe_texture_mobile.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        }
        .visually--void{
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border: 0;
        }
        h3{
            color: var.$yellow;
        }
        .form--field {
            width: 100%;
            & > :is(input, textarea, select){
                width: 100%;
                background: transparent;
                border: 1px solid var.$yellow;
                border-radius: 25px;
                padding: 12px 16px;
                color: var.$color-primary;
                outline: none;
            }
             & > :is(input, textarea, select)::placeholder{
                color: var.$color-primary;
                font-size: 12px;
                font-weight: 400;
                opacity: 0.7;
            } 
             & > :is(input, textarea, select):focus::placeholder{                
                opacity: 0.3;
                color: var.$text-muted;
            }
            & > :is(input, textarea, select):invalid{
                border-color: var.$orange-details;
                background: transparent;
                color: var.$color-primary;
            }

            & > :is(input, textarea, select):invalid::placeholder{
                color: var.$orange-details;
                opacity: .8;
            }

            & > :is(input, textarea, select):valid{
                border-color: var.$yellow;
            }

        }
        .form--space{
            background-color: var.$yellow;
            padding: 12px 16px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 2px var.$color-primary;
            border-radius: 25px;
            .ad-info{
                color: var.$black;                
                text-align: center;
                font-size: 16px;                
                font-weight: 600;                
            }
        }
        button{
            @include mx.btn-primary;
        }
    }




            /* Tablet */
    @include mx.tablet {
       padding-inline: 48px;      
       .register--form{
        padding-inline: 64px;
       }
       h3{
            color: var.$yellow;
            font-size: 24px;
        }
    }
  
  /* Desktop */
    @include mx.desktop {    
       padding-inline: 100px;
       max-width: 1200px;
       margin: 0 auto;
       margin-block: 64px;
       
       .register--form{
        padding-inline: 64px;
        &::before{
            content: "";        
        position: absolute;
        right: -20%;
        top: 5%;
        width: 150%;
        height: 120%;        
        z-index: -1;
        opacity: 0.7;
       }
       h3{
            color: var.$yellow;
            font-size: 36px;
        }
       } 
    }
}