@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;
@use "../base/typography" as typ;


.who--container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-block: 32px;
   h3{
    color: var.$color-primary;
    span{
        color: var.$yellow;
    }
   }
   .who--heroe{
        overflow: hidden;
        @include mx.yellow--stroke;
        @include mx.yellow--glow;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: stretch;
        margin-bottom: 16px;
        .who--heroe-img>img{
            width: 100%;
            object-fit: cover;
        }
        .who--heroe-text{
          display: flex;
          flex-direction: column;
          gap: 16px; 
          margin-bottom: 16px; 
          p{
            color: var.$color-primary;
            font-size: 12px;
            padding-inline: 16px;
            span{
                color: var.$yellow;
            }
          }
          a{
            @include mx.btn-primary;
            align-self: center;
          }  
        }
    }
    .who--content{
        position: relative;
        &::before{
            content: "";        
            position: absolute;
            right: -20%;
            top: 5%;
            width: 120%;
            height: 120%;
            background-image: url("../../img/mobile/heroe_texture_mobile.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-inline: 16px;
        ul{
           color: var.$color-primary;
           list-style: disc;
           margin-bottom: 16px;
           padding-inline: 16px;
           li{
            font-size: 12px;
            span{
                color: var.$yellow;
            }            
           }
           li::marker{
                color: var.$yellow;
            } 
        }
        p{
          color: var.$color-primary;
          font-size: 12px;
          span{
                color: var.$yellow;
            }  
        }
        .text--registration{
            font-size: 16px;
            a{
                text-decoration: underline;
                text-decoration-color: var.$yellow;
                text-underline-offset: 5px;
                text-decoration-thickness: 2px;
                span{
                    color: var.$yellow;
                }
                &:hover{
                    text-decoration-color: var.$orange-details;
                    span{
                        color: var.$orange-details;
                    }
                }               
            }            
        }
    }
   


        /* Tablet */
  @include mx.tablet {        
      padding-inline: 48px;
      h3{
        font-size: 36px;
      }
      .who--heroe{
        .who--heroe-text{
            .text{
                font-size: 18px;
            }
        }      
      }
        .who--content{
            ul{
                li{
                    font-size: 18px;
                }
            }
            p{
            font-size: 18px; 
            }
            .text--registration{
                font-size: 24px;
            }
        }         
  }
  
  /* Desktop */
  @include mx.desktop {
    padding-inline: 96px; 
    margin-bottom: 64px;
    .who--heroe{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        h3{
            font-size: 56px;
        }
        .who--heroe-img>img{
            flex: 0 0 45%;
            height: 100%;
        }
        .who--heroe-text{
            flex: 0 0 55%;
            p{
                font-size: 24px;
                padding-block: 32px;
                line-height: 200%;

            }
        }
    }
    .who--content{
        &::before{
            content: "";        
            position: absolute;
            right: -40%;
            top: 2%;
            width: 120%;
            height: 120%;
            background-image: url("../../img/mobile/heroe_texture_mobile.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }
        ul{
            li{
                font-size: 24px;
            }
        }
        p{
            font-size: 24px; 
        }
        .text--registration{
            font-size: 32px;
        }
    }   
    
  }
}
