@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mx;
@use "../base/typography" as typ;

header{
    padding-inline: 16px;
    padding-block: 16px;
    .header--container{
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
        align-items: center;
        width: 100%;        
        .header--nav{
            align-self: stretch;
            ul{
                display: flex;
                justify-content: space-between;
                .header--list{                    
                    .header--link {
                        font-family: typ.$font-heading;
                        color: var.$color-primary;
                        font-size: 12px;
                        font-weight: 300;
                        position: relative;
                        display: inline-block;
                        text-decoration: none;
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -4px;

                            width: 100%;
                            height: 2px;

                            background-color: var.$orange-details;
                            opacity: 0.9;

                            transform: scaleX(0);
                            transform-origin: left;
                            transition: transform 0.25s ease;
                        }

                        &:hover::after,
                        &:focus-visible::after {
                            transform: scaleX(1);
                        }
                    }

                }
            }
        }
        .btn {
            @include mx.btn-primary;
        }
    }





    /* Tablet */
  @include mx.tablet {
    padding-inline: 32px;
  }

  /* Desktop */
  @include mx.desktop {
    padding-inline: 80px;
    max-width: 1440px;
  }
}