// Breakpoints
$bp-desktop: 1275px;
$bp-tablet: 768px;
$bp-mobile: 430px;

// Mixins
@mixin desktop {
  @media (max-width: $bp-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $bp-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $bp-mobile) {
    @content;
  }
}
